  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Mindesthöhe des Körperbereichs auf 100% der Bildschirmhöhe setzen */
  } 

  main {
    padding: 20px;
    flex: 1;
  }

  .gruppen-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }



  .gruppen-info {
    width: calc(50% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    /* White background for a clean look */
    border-radius: 8px;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Subtle shadow for depth */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    cursor: pointer;
  }

  .gruppen-info:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Enhanced shadow for lifted effect */
    transform: translateY(-3px);
    /* Slight upward movement on hover */
  }

  .gruppen-info h3 {
    font-size: 20px;
    margin-top: 0;
    font-weight: bold;
  }

  .gruppen-info p {
    font-size: 16px;
    margin-bottom: 10px;
    max-width: 65%;
  }

  .gruppen-info button {
    position: absolute;
    bottom: 20px;
    right: 20px;


    background-color: transparent;
    /* Change to transparent for the outline effect */
    color: #333;
    /* Typically, the text color matches the border color */
    border: 1px solid #333;
    /* Add a border with the desired color */
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
    min-width: 131px;
  }

  .gruppen-info button:hover,
  .gruppen-info button:focus {
    background-color: #333;
    /* Background color on hover/focus */
    color: #fff;
    /* Text color on hover/focus */
    border-color: #333;
    /* Optional: Adjust border color on hover/focus if needed */
  }



  .gruppen-info .button-verlassen i {
    color: #dc3545;
  }

  .gruppen-info .button-aufloesen {
    border-color: #dc3545;
    color: #dc3545;
  }

  .gruppen-info .button-aufloesen:hover {
    background-color: #dc3545;
  }

  .gruppen-info .button-aufloesen i {
    color: #dc3545;
  }

  .gruppen-info i {
    -webkit-text-stroke: 0.6px;

  }

  .gruppen-info .button-aufloesen:hover {
    background-color: #b02a37;
  }

  .gruppen-info .button-beitreten i {
    color: #28a745;
  }


  .user-count-container {
    width: 20%;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
  }

  .icon-container {
    background-color: white;
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4px;
    height: 20px;
  }

  .icon {
    -webkit-text-stroke: 0.5px;
    font-size: 1.3em;
  }

  .progress-bar {
    height: 20px;
    border-radius: 0 5px 5px 0;
    transition: width 0.5s ease-in-out;
  }

  nav {
    display: flex;
    align-items: center;
  }

  nav {
    display: flex;
    align-items: center;
  }

  /* Custom CSS for an extra-large modal */
  .modal-centered {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Custom styles for the modal to make it look like a card */
  .modal-content {
    border: none;
    /* Removes the default modal border */
    border-radius: 0.5rem;
    /* Adds rounded corners similar to a card */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Adds a subtle shadow like a card */
  }

  .icon-match-text {
    cursor: pointer;
    color: #477cf5;
    font-size: 1.25rem; /* Adjust this value based on your needs or the specific font size of your h5 text */
}

  .modal-header h5 {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .modal-header,
  .modal-footer {
    border: none;
    /* Removes the header and footer borders */
    padding: 1.25rem;
    /* Adjusts the padding to match card style */
  }

  .modal-body {
    padding: 1.25rem;
    /* Adjusts the body padding to be more card-like */
  }

  .modal-backdrop.show {
    opacity: 30%;
  }


  .modal-body h5 {
    font-weight: bold;
    /* Makes headings bold */
  }

  .modal-body p {
    background-color: #f8f9fa;
    /* A light grey background */
    padding: 10px;
    border-radius: 5px;
    /* Rounded corners */
    border: 1px solid #e9ecef;
    /* A light border */
  }

  /* Custom icon styling */
  .modal-body .bi {
    margin-right: 5px;
    /* Space between icon and text */
    color: #000000;
    /* Bootstrap primary color for icons */
  }

  .no-padding {
    padding-left: 0 !important;
    /* Verwendet !important, um sicherzustellen, dass dieser Stil Vorrang hat */
    padding-right: 0 !important;
  }


  .active {
    font-weight: bold;
    color: #000000;

  }

  .disabled {
    pointer-events: none;
    cursor: not-allowed;
  }





  .progress-bar {
    width: 0;
    transition: width 2s ease-out, background-color 0.5s ease;
    /* Smooth transition for width and background color */
  }

  /* Remove the @keyframes rule for loadProgress */

  /* General enhancements */
  .gruppen-info,
  .user-count-container,
  .icon-container {
    transition: all 0.3s ease;
    /* Smooth transition for all hover effects */
  }


  .add-date-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.bi-plus-circle {
    cursor: pointer;
    color: #477cf5;
    font-size: 2rem; /* Adjust for a larger plus icon, making it more noticeable */
}

.bi-plus-circle:hover {
  color: #3658a4; /* Darker shade of blue for hover effect */
}

.modal-body {
  padding-bottom: 0%;
  padding-top: 0%;
}

.modal-footer {
  padding-top: 0%;
}

#idList {
  margin-bottom: 0;
}



/* Media query for screens smaller than 768px */
@media (max-width: 768px) {
  .gruppen-info {
    width: 100%; /* Take full width */
    padding: 15px; /* Adjust padding */
    margin-bottom: 15px; /* Adjust margin */
  }

  .gruppen-info h3 {
    font-size: 18px; /* Adjust font size for smaller screens */
  }

  .gruppen-info p {
    font-size: 14px; /* Adjust font size for smaller screens */
    margin-bottom: 15px; /* Adjust spacing */
    max-width: 100%; /* Use full container width */
  }

  .gruppen-info button {
    font-size: 14px; /* Adjust button font size */
    padding: 8px 16px; /* Adjust button padding */
  }
}

