body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-y: auto
  }

  header {
    background-color: #fcfcfc;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo img {
    width: 70px;
  }

  nav {
    display: flex;
    align-items: center;
  }

  nav a {
    color: #000000;
    text-decoration: none;
    margin: 0 10px;
  }

  nav a:hover {
    text-decoration: underline;
  }

  .profile-wrapper {
    position: relative;
  }
  
  .impressum{
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .create-group-btn {
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for background color and scaling */
}

.create-group-btn:hover {
    transform: scale(1.03); /* Slightly scale the button up */
}

  .create-group-btn, .create-group-btn:link, .create-group-btn:visited, .create-group-btn:hover, .create-group-btn:active {
    text-decoration: none;
}
