<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LBV - Gruppen</title>
  <link rel="stylesheet" href="/CSS/design.css">
</head>
<body>
  <header>
    <div class="logo">
      <img src="/Views/instance/Screenshot 2024-02-02 095135.png" width="150px" alt="LBV Logo">
    </div>
    <nav>
      <a href="#">Alle Gruppen</a>
      <a href="#">Meine Gruppen</a>
      <a href="#">Profil</a>
    </nav>
  </header>
  <main>
      <div class="gruppe1">
        <div class="gruppen-info">
          <h3>Gruppenname</h3>
          <p>Beschreibung der Gruppe</p>
          <p>Nutzer: 12/20</p>
          <button>Beitreten</button>
        </div>
      </div>
        <div class="gruppe2">
          <div class="gruppen-info">
            <h3>Gruppenname</h3>
            <p>Beschreibung der Gruppe</p>
            <p>Nutzer: 12/20</p>
            <button>Beitreten</button>
          </div>
        </div>
          <div class="gruppe3">
            <div class="gruppen-info">
              <h3>Gruppenname</h3>
              <p>Beschreibung der Gruppe</p>
              <p>Nutzer: 12/20</p>
              <button>Beitreten</button>
            </div>
          </div>
            <div class="gruppe4">
              <div class="gruppen-info">
                <h3>Gruppenname</h3>
                <p>Beschreibung der Gruppe</p>
                <p>Nutzer: 12/20</p>
                <button>Beitreten</button>
              </div>
            </div>
            </section>
  </main>
  <footer>
    <p>Impressum</p>
  </footer>
</body>
</html>
