<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
  <link rel="stylesheet" href="../CSS/dashboard.css">
  <link rel="stylesheet" href="../CSS/HeaderFooter.css">
  <link rel="shortcut icon" href="../Views/instance/favicon.ico">
  <title>LBV - Gruppen</title>
</head>
<body>
  <header>
    <div class="logo">
      <img src="../Views/instance/favicon.svg" alt="LBV Logo">
    </div>
    <nav>
      <a href="createGroup.html" class="btn btn-dark create-group-btn"><i class="bi bi-plus-lg"></i> Neue Gruppe</a>
      <a href="/Views/Homepage.html">Alle Gruppen</a>
      <a href="/Views/myGroups.html">Meine Gruppen</a>
      
      <!-- Dropdown for profile picture and other options -->
      <div class="dropdown">
        <img id="profilePicture" class="rounded-circle dropdown-toggle"
          style="height: 38px; width: 38px; object-fit: cover; cursor: pointer;" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" alt="Profile Picture" title="Profiloptionen" draggable="false"
          src="https://via.placeholder.com/150">
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="profil.html" style="margin: 0 0;">
            <i class="bi bi-person-circle mr-2"></i>Profil
          </a>
          <a class="dropdown-item" href="https://github.com/jexxme/groupManagementAPI/blob/main/readme.md"
            target="_blank" style="margin: 0 0;">
            <i class="bi bi-file-earmark-text mr-2"></i>Dokumentation
          </a>
          <a id="adminPanel" class="dropdown-item" href="https://lbv.digital/" target="_blank" style="margin: 0 0;">
            <i class="bi bi-gear mr-2"></i>Admin Panel
          </a>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item text-danger" id="logoutButton">
            <i class="bi bi-box-arrow-right mr-2"></i>Ausloggen
          </button>
        </div>

      </div>
    </nav>
  </header>
  <main>
    <div class="gruppen-container" id="gruppen-container">
      <!-- Hier werden die Gruppen dynamisch eingefügt -->
    </div>
  </main>
  <footer>
    <button class="delete-button" id="deleteButton" onclick="window.location.href='impressum.html'">Impressum</button>
  </footer>
  <script src="/JavaScript/Homepage.js">
    

    // JavaScript Funktion zum Anzeigen der Gruppen
   async function anzeigenGruppen() {
      // Hier werden die Gruppen aus dem Local Storage oder einer anderen Datenquelle abgerufen
      var gespeicherteGruppen = JSON.parse(localStorage.getItem("gruppen")) || [];

      var gruppenContainer = document.getElementById("gruppen-container");

      // Alle vorherigen Inhalte im Container entfernen
      gruppenContainer.innerHTML = "";

      // Durchlaufe die Gruppen und füge sie dem Container hinzu
      gespeicherteGruppen.forEach(function(gruppe) {
        var gruppenInfo = document.createElement("div");
        gruppenInfo.classList.add("gruppen-info");

        var heading = document.createElement("h3");
        heading.textContent = gruppe.name;

        var beschreibung = document.createElement("p");
        beschreibung.textContent = gruppe.beschreibung;

        var nutzer = document.createElement("p");
        nutzer.textContent = "Nutzer: " + gruppe.nutzer;

        gruppenInfo.appendChild(heading);
        gruppenInfo.appendChild(beschreibung);
        gruppenInfo.appendChild(nutzer);

        gruppenContainer.appendChild(gruppenInfo);
      });
    }

    
    // Die Funktion wird aufgerufen, sobald die Seite geladen ist
    window.onload = anzeigenGruppen();
  </script>
  
  <!-- Bootstrap JS -->

  <script src="../JavaScript/fetch_pb.js"></script>
  <script src="../JavaScript/headerFooter.js"></script>


  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous">
    </script>
</body>
</html>